*{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;

}
body{ 
    background-color: rgb(240, 188, 253);

}
main{
    background-color:rgb(250, 195, 205);
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px  rgb(240, 188, 253) ;
    padding: 10px;
}